name: cd

on:
  workflow_dispatch:
  push:
    tags: [ 'v-*' ]

env:
  node-version: 20

jobs:
  cd:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node-version }}
      - name: Cache node_modules
        id: node_modules_cache_id
        uses: actions/cache@v3
        with:
          path: ./node_modules/
          key: node-modules-prod-${{ env.node-version }}-${{ hashFiles('./**/yarn.lock') }}
      - name: Install dependencies
        if: steps.node_modules_cache_id.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile --non-interactive --production
      - name: Build project
        run: yarn build
      - name: Execute project
        run: yarn start
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: pythagoras-tree-images
          path: ./images/
